.input-group > .input-group-btn:last-child > .selectpicker {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-group>.btn:first-child {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.input-group > .input-group-btn:first-child > .selectpicker {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
h3 { font-size: 18px !important;}
.wrap {    max-width: 100%;}    
.sidebar-nav .navbar .navbar-collapse {
padding: 0;
max-height: none;
}
.sidebar-nav .navbar ul {
float: none;
display: block;
}
.sidebar-nav .navbar li {
float: none;
display: block;
}
.sidebar-nav .navbar li a {
padding-top: 12px;
padding-bottom: 12px;
}
div#logo {
display: none;
}
div#footer {
display: none;
}
.toggles {
display: none;
}
#step3button {
    margin: auto;
    padding-top: 12px;
}
.dropdown-toggle:after {
    display:none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    padding: 0px 0px;
}
.bootstrap-table {
    margin: 20px 0px;
}
.col-sm-4 > label{
    padding-left: 30px;
    padding-top: 8px;
}

#filter-company + div{
    max-width: 160px;
}
#filter-zip + div{
    max-width: 100px;
    margin-left: 10px;
}
#filter-city + div{
    max-width: 160px;
}

.tab-pane{
    margin-top: 10px;
}

.switch_red {
    position: relative;
    top: 40px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
     background-color: green;
}


input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch_label {
    position: relative;
    top: 40px;
}