.input-group > .input-group-btn:last-child > .selectpicker {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-group>.btn:first-child {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.input-group > .input-group-btn:first-child > .selectpicker {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
h3 { font-size: 18px !important;}
.wrap {    max-width: 100%;}    
.sidebar-nav .navbar .navbar-collapse {
padding: 0;
max-height: none;
}
.sidebar-nav .navbar ul {
float: none;
display: block;
}
.sidebar-nav .navbar li {
float: none;
display: block;
}
.sidebar-nav .navbar li a {
padding-top: 12px;
padding-bottom: 12px;
}
div#logo {
display: none;
}
div#footer {
display: none;
}
.toggles {
display: none;
}
#step3button {
    margin: auto;
    padding-top: 12px;
}
.dropdown-toggle:after {
    display:none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    padding: 0px 0px;
}
.bootstrap-table {
    margin: 20px 0px;
}
.col-sm-4 > label{
    padding-left: 30px;
    padding-top: 8px;
}

#filter-company + div{
    max-width: 160px;
}
#filter-zip + div{
    max-width: 100px;
    margin-left: 10px;
}
#filter-city + div{
    max-width: 160px;
}

.tab-pane{
    margin-top: 10px;
}

.modal-header{
    background-color: #5cb85c;
    color: white !important;
}