.input-group > .input-group-btn:last-child > .selectpicker {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-group>.btn:first-child {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.input-group > .input-group-btn:first-child > .selectpicker {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
h3 { font-size: 18px !important;}
.wrap {    max-width: 100%;}    
.sidebar-nav .navbar .navbar-collapse {
padding: 0;
max-height: none;
}
.sidebar-nav .navbar ul {
float: none;
display: block;
}
.sidebar-nav .navbar li {
float: none;
display: block;
}
.sidebar-nav .navbar li a {
padding-top: 12px;
padding-bottom: 12px;
}
div#logo {
display: none;
}
div#footer {
display: none;
}
.toggles {
display: none;
}
#step3button {
    margin: auto;
    padding-top: 12px;
}
.dropdown-toggle:after {
    display:none;
}
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
    padding: 0px 0px;
}
.bootstrap-table {
    margin: 20px 0px;
}
.col-sm-4 > label{
    padding-left: 30px;
    padding-top: 8px;
}

/*#filter-company + div{*/
    /*max-width: 160px;*/
/*}*/
/*#filter-zip + div{*/
    /*max-width: 100px;*/
    /*margin-left: 10px;*/
/*}*/
/*#filter-city + div{*/
    /*max-width: 160px;*/
/*}*/

.tab-pane{
    margin-top: 10px;
}

.modal-header{
    background-color: #5cb85c;
    color: white !important;
}

.switch_red {
    position: relative;
    top: 40px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}
.switch_red input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch_red > input:checked + .slider {
    background-color: red;
}

input:checked + .slider {
     background-color: green;
}


input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch_label {
    position: relative;
    top: 40px;
}
.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.checkbox{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px;
}
.btn-save{
    background: darkolivegreen !important;
    color: whitesmoke !important;
}
.time-input{
    padding-left:0px;
    padding-right:0px;
}
.time-input>input{
    height:26px;
    padding:0px;
    text-align:center;
}
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.file-upload{
    display: none !important;
}

.modal-body.well{
    margin-bottom: 0px;
}
.modal-footer{
    margin-top:0px;
    border-top: none;
}
.ml10 {
    margin-left: 10px;
    font-size: 20px;
    box-shadow: none !important;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.radio label, .checkbox label {
    display: inline-flex !important;
}

.rating-xs {
    display: inline-flex;
}
p, .form-group>label, h2, h3{
    display: inline-flex;
}
.row .form-group{
    display: inline-flex !important;
}
.row > label{
    display: inline-flex !important;
    text-align: left !important;
}
.core-data > .row{
    width: 110%;
}

.container{
    width: 90% !important;
}
.th-inner{
    font-size: 14px;
}
.fixed-table-body {
    height: inherit !important;
}